* {
    margin: 0;
    padding: 0;
}

body,
.wrap,
.h, 
.i,
.t,
.n1,
.n4 {
    display: flex;
}

body {
    justify-content: center;
    height: 600px;
    align-items: center;
}

:root {
    --s: 30px;
}

.box {
    height: var(--s);
    width: var(--s);
    background-color: #FFA900;
    /* margin: 10px; */
}

.wrap {
    width: 100%;
    height: auto;
    justify-content: center;
    gap: var(--s);
}

.h {
    align-items: center;
    position: relative;
    animation: updown 1.5s linear infinite;
    animation-direction: alternate;
}

.i {
    flex-direction: column;
    position: relative;
    animation: downup 1.5s linear 1.1s infinite alternate;
}

.t {
    position: relative;
    animation: updown 1.5s linear 2.1s infinite alternate; 
}

.n1 {
    flex-direction: column;
    position: relative;
    animation: downup 1.5s linear 3.1s infinite alternate; 
}

.n4 {
    align-items: center;
    position: relative;
    animation: updown 1.5s linear 4.1s infinite alternate; 
}

.n4 div:nth-child(1) {
    align-self: flex-start;
}

/* @keyframes updown {
    from {
        top: -50px;
    }
    to{
        top: 25px;
    }
}


@keyframes downup {
    from {
        top: 25px;
    }
    to {
        top: -50px;
    }
} */
